{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{% for k, v in errors.items() %}
{{ oas.ErrorSchema(k, v) }}
{% endfor %}

  responses:
{% for k, v in errors.items() %}
{{ oas.ErrorResponse(k, v) }}
{% endfor %}
