{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{% for err in errors %}
{{ oas.ErrorSchema(err) }}
{% endfor %}

  responses:
{% for err in errors %}
{{ oas.ErrorResponse(err) }}
{% endfor %}
