{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.StringArraySchema('ObjectIds', 'list of resource IDs') }}
  parameters:
{{ oas.BoolQueryParam('Notify', 'notify', 'Whether or not to send a notification email at resource creation') }}
