{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.group, ['name', 'users']) }}
{{ oas.StringArrayProperty('users', 'List of user IDs that are part of the group') }}

  parameters:
{{ oas.PathParamID(resources.group) }}

paths:
  /group:
{{ oas.LC(resources.group, [resources.group.tag]) }}

  /group/{{ '{' + resources.group.paramId + '}' }}:
{{ oas.RUD(resources.group, [resources.group.tag], [resources.group.paramSchema]) }}
