{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.kce, ['name', 'memory', 'vcpus', 'disk']) }}
{{ oas.IntProperty('memory', 'The ' + resources.kce.desc + ' memory size (in bytes)') }}
{{ oas.IntProperty('vcpus', 'The ' + resources.kce.desc + ' number of vCPUs') }}
{{ oas.IntProperty('disk', 'The ' + resources.kce.desc + ' OS disk size (in bytes)') }}
{{ oas.IntProperty('data_disk', 'The ' + resources.kce.desc + ' extra data disk size (in bytes). If unspecified, no extra data disk will be assigned', default=0) }}
{{ oas.StringProperty('ip', 'The ' + resources.kce.desc + ' assigned private IPv4 address (read-only)') }}

  parameters:
{{ oas.PathParamID(resources.kce) }}
{{ oas.StringQueryParam(resources.kce.paramPublicSchema, resources.kce.paramPublicId, 'Should KCE be exposed over public Internet ? (a public IPv4 address will then be auto-assigned, default to false)') }}

paths:
  /kce:
{{ oas.List(resources.kce, [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}:
{{ oas.RUD(resources.kce, [resources.kce.tag], [resources.kce.paramSchema]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/state:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Read('ReadKCEState', resources.instance_state.schema, resources.instance_state.desc, [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/reboot:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('RebootKCE', resources.kce.desc, 'software reboot', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/reset:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('ResetKCE', resources.kce.desc, 'hardware reset', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/suspend:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('SuspendKCE', resources.kce.desc, 'software PM suspend', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/resume:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('ResumeKCE', resources.kce.desc, 'software PM resume', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/start:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('StartKCE', resources.kce.desc, 'hardware boot-up', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/stop:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('StopKCE', resources.kce.desc, 'hardware stop', [resources.kce.tag]) }}

  /kce/{{ '{' + resources.kce.paramId + '}' }}/shutdown:
{{ oas.Parameters([resources.kce.paramSchema]) }}
{{ oas.Patch('ShutdownKCE', resources.kce.desc, 'software shutdown', [resources.kce.tag]) }}
