{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.kfs, ['name']) }}
{{ oas.StringProperty('access', 'The ' + resources.kfs.desc + ' volume access type', values=['RO', 'RW'], default='RW') }}
{{ oas.IntArrayProperty('protocols', 'The ' + resources.kfs.desc + ' NFS protocol versions to be supported', values=[3, 4], default=[3, 4]) }}
{{ oas.StringProperty('endpoint', 'The ' + resources.kfs.desc + ' endpoint FQDN (read-only)') }}
{{ oas.IntProperty('size', 'The ' + resources.kfs.desc + ' volume bytes used (read-only)') }}

  parameters:
{{ oas.PathParamID(resources.kfs) }}

paths:
  /kfs:
{{ oas.List(resources.kfs, [resources.kfs.tag]) }}

  /kfs/{ {{ resources.kfs.paramId }} }:
{{ oas.RUD(resources.kfs, [resources.kfs.tag], [resources.kfs.paramSchema]) }}
