{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.kgw) }}
{{ oas.StringProperty('public_ip', 'The ' + resources.kgw.desc + ' public IP (read-only)') }}
{{ oas.StringProperty('private_ip', 'The ' + resources.kgw.desc + ' private IP (read-only)') }}
{{ oas.ObjectArrayProperty('nats', 'The ' + resources.kgw.desc + ' list of NAT entries', resources.kgw_nat.schema) }}

{{ oas.Schema(resources.kgw_nat, ['private_ip', 'port']) }}
{{ oas.StringProperty('private_ip', 'Target Private IP. Leave blank for a new generated one') }}
{{ oas.StringProperty('public_ip', 'Public IP from created adapter. Leave empty to use the default public IP') }}
{{ oas.StringProperty('ports', 'Ports being forwarded from the public to the private IP. Accept Ranges') }}

  parameters:
{{ oas.PathParamID(resources.kgw) }}

paths:
  /kgw:
{{ oas.List(resources.kgw, [resources.kgw.tag]) }}

  /kgw/{{ '{' + resources.kgw.paramId + '}' }}:
{{ oas.RUD(resources.kgw, [resources.kgw.tag], [resources.kgw.paramSchema]) }}
