{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.netgw, ['name']) }}
{{ oas.StringArrayProperty('agents', 'a list of existing remote agents managing the network gateway') }}

  parameters:
{{ oas.PathParamID(resources.netgw) }}

paths:
  /netgw:
{{ oas.List(resources.netgw, [resources.netgw.tag]) }}

  /netgw/{{ '{' + resources.netgw.paramId + '}' }}:
{{ oas.RUD(resources.netgw, [resources.netgw.tag], [resources.netgw.paramSchema]) }}
