{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.netgw, ['name', 'address', 'token']) }}
{{ oas.StringProperty('address', 'The ' + resources.netgw.desc + ' IPv4 address') }}
{{ oas.IntProperty('port', 'The ' + resources.netgw.desc + ' service port (default to 8080)', default=8080) }}
{{ oas.StringProperty('token', 'The ' + resources.netgw.desc + ' admin API token') }}

  parameters:
{{ oas.PathParamID(resources.netgw) }}

paths:
  /netgw:
{{ oas.List(resources.netgw, [resources.netgw.tag]) }}

  /netgw/{ {{ resources.netgw.paramId }} }:
{{ oas.RUD(resources.netgw, [resources.netgw.tag], [resources.netgw.paramSchema]) }}
