{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.region, ['name']) }}

  parameters:
{{ oas.PathParamID(resources.region) }}

paths:
  /region:
{{ oas.LC(resources.region, [resources.region.tag]) }}

  /region/{{ '{' + resources.region.paramId + '}' }}:
{{ oas.RUD(resources.region, [resources.region.tag], [resources.region.paramSchema]) }}

  /region/{{ '{' + resources.region.paramId + '}' }}/zone:
{{ oas.Parameters([resources.region.paramSchema]) }}
{{ oas.Create('Create' + resources.zone.schema, resources.zone.schema, resources.zone.desc, [resources.region.tag, resources.zone.tag]) }}

  /region/{{ '{' + resources.region.paramId + '}' }}/zones:
{{ oas.Parameters([resources.region.paramSchema]) }}
{{ oas.GetAll('ListRegionZones', resources.zone.desc, [resources.region.tag, resources.zone.tag], True) }}
