{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.template, ['name']) }}
{{ oas.StringProperty('type', 'The ' + resources.template.desc + ' volume type', values=['os', 'raw'], default='os') }}
{{ oas.StringProperty('os', 'Type of operating system if OS kind (useful to determine cloud-init parameters for instance)', values=['linux', 'windows'], default='linux') }}

  parameters:
{{ oas.PathParamID(resources.template) }}
{{ oas.StringQueryParam(resources.template.paramSchema, resources.template.paramId, "Template to clone the storage volume from (optional, zone's default if unspecified)") }}

paths:
  /template:
{{ oas.List(resources.template, [resources.template.tag]) }}

  /template/{ {{ resources.template.paramId }} }:
{{ oas.RUD(resources.template, [resources.template.tag], [resources.template.paramSchema]) }}
