{%- import "openapi/oas.macros.yml.j2" as oas with context %}

components:
  schemas:
{{ oas.SchemaBaseResource(resources.user, ['name', 'email', 'password', 'role']) }}
{{ oas.StringProperty('email', 'User email address') }}
{{ oas.StringProperty('password', 'User password') }}
{{ oas.StringProperty('role', 'The Kowabunga user role', values=['superAdmin', 'projectAdmin', 'user']) }}
{{ oas.BoolProperty('notifications', 'Whether or not to receive email notifications on events', default=False) }}

  parameters:
{{ oas.PathParamID(resources.user) }}

paths:
  /user:
{{ oas.LC(resources.user, [resources.user.tag]) }}

  /user/{{ '{' + resources.user.paramId + '}' }}:
{{ oas.RUD(resources.user, [resources.user.tag], [resources.user.paramSchema]) }}

  /user/{{ '{' + resources.user.paramId + '}' }}/token:
{{ oas.Parameters([resources.user.paramSchema, 'OptionalQueryExpire', 'OptionalQueryExpirationDate']) }}
{{ oas.Patch('Set' + resources.user.schema + resources.token.schema, resources.user.desc, 'setting of API token (will replace any existing one)', [resources.user.tag, resources.token.tag], resources.token.schema) }}
