{% macro ErrorSchema(err) %}
    ApiError{{ err.schema }}:
      type: object
      required:
        - status
        - error
        - reason
      properties:
        status:
          type: integer
          format: int32
          example: {{ err.code }}
        error:
          type: string
          example: {{ err.desc }}.
        reason:
          type: string
          example: server_side_details
{% endmacro %}

{% macro ErrorResponse(err) %}
    {{ err.schema }}:
      description: "{{ err.schema }} error: {{ err.desc }}."
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError{{ err.schema }}'
{% endmacro %}

{% macro SchemaRaw(schema, desc, required=[]) %}
    {{ schema }}:
      type: object
      description: A {{ desc }}.
{%if required != [] %}
      required:
{% for r in required %}
        - {{ r }}
{% endfor %}
{% endif %}
      properties:
{% endmacro %}

{% macro Schema(obj, required=[]) %}
{{ SchemaRaw(obj.schema, obj.desc, required) }}
{% endmacro %}

{% macro ArraySchema(name, desc, type) %}
    {{ name }}:
      type: array
      description: A {{ desc }}.
      items:
        type: {{ type }}
{% endmacro %}

{% macro StringArraySchema(name, desc) %}
{{ ArraySchema(name, desc, 'string') }}
{% endmacro %}

{% macro Property(name, type, desc, values=[], default=None, format=None) %}
        {{ name }}:
          type: {{ type }}
{% if format != None %}
          format: {{ format }}
{% endif %}
          description: {{ desc }}.
{% if values != [] %}
          enum:
{% for v in values %}
            - {{ v }}
{% endfor %}
{% endif %}
{% if default != None %}
          default: {{ default }}
{% endif %}
{% endmacro %}

{% macro StringProperty(name, desc, values=[], default=None) %}
{{ Property(name, 'string', desc, values, default) }}
{% endmacro %}

{% macro BoolProperty(name, desc, values=[], default=None) %}
{{ Property(name, 'boolean', desc, values, default) }}
{% endmacro %}

{% macro IntProperty(name, desc, values=[], default=None) %}
{{ Property(name, 'integer', desc, values, default) }}
{% endmacro %}

{% macro FloatProperty(name, desc, values=[], default=None) %}
{{ Property(name, 'integer', desc, values, default, format='float') }}
{% endmacro %}

{% macro ObjectProperty(name, desc, schema) %}
        {{ name }}:
          type: object
          description: {{ desc }}.
          $ref: '#/components/schemas/{{ schema }}'
{% endmacro %}

{% macro ArrayProperty(name, type, desc, default=None) %}
        {{ name }}:
          type: array
          description: {{ desc }}.
          items:
            type: {{ type }}
{% if default != None %}
          default: {{ default }}
{% endif %}
{% endmacro %}

{% macro StringArrayProperty(name, desc, default=None) %}
{{ ArrayProperty(name, 'string', desc, default) }}
{% endmacro %}

{% macro SchemaBaseResource(obj, required=[]) %}
{{ Schema(obj, required) }}
{{ StringProperty('id', 'The ' + obj.desc + ' ID (auto-generated)') }}
{{ StringProperty('name', 'The ' + obj.desc + ' name') }}
{{ StringProperty('description', 'The ' + obj.desc + ' description') }}
{% endmacro %}

{% macro PathParam(key, name, desc, t) %}
    {{ key }}:
      name: {{ name }}
      in: path
      description: {{ desc }}.
      required: true
      schema:
        type: {{ t }}
{% endmacro %}

{% macro StringPathParam(key, name, desc) %}
{{ PathParam(key, name, desc, 'string') }}
{% endmacro %}

{% macro PathParamID(obj) %}
{{ StringPathParam(obj.paramSchema, obj.paramId, 'The ID of the ' + obj.desc) }}
{% endmacro %}

{% macro QueryParam(key, name, desc, t) %}
    OptionalQuery{{ key }}:
      name: {{ name }}
      in: query
      description: {{ desc }}.
      schema:
        type: {{ t }}
{% endmacro %}

{% macro BoolQueryParam(key, name, desc) %}
{{ QueryParam(key, name, desc, 'boolean') }}
{% endmacro %}

{% macro StringQueryParam(key, name, desc) %}
{{ QueryParam(key, name, desc, 'string') }}
{% endmacro %}

{% macro Tags(tgs) %}
      tags:
{% for t in tgs %}
        - {{ t }}
{% endfor %}
{% endmacro %}

{% macro ErrorsWrongParams() %}
        '400':
          $ref: '#/components/responses/BadRequest'
{% endmacro %}

{% macro ErrorsAuth() %}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
{% endmacro %}

{% macro ErrorsUnknownResource() %}
        '404':
          $ref: '#/components/responses/NotFound'
{% endmacro %}

{% macro ErrorsConflict() %}
        '409':
          $ref: '#/components/responses/Conflict'
{% endmacro %}

{% macro ErrorsQuotas() %}
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
{% endmacro %}

{% macro ErrorsGetAll() %}
{{ ErrorsAuth() }}
{% endmacro %}

{% macro ErrorsGetOne() %}
{{ ErrorsAuth() }}
{{ ErrorsUnknownResource() }}
{% endmacro %}

{% macro ErrorsUpdate() %}
{{ ErrorsWrongParams() }}
{{ ErrorsGetOne() }}
{{ ErrorsQuotas() }}
{% endmacro %}

{% macro ErrorsDelete() %}
{{ ErrorsGetOne() }}
{{ ErrorsConflict() }}
{{ ErrorsQuotas() }}
{% endmacro %}

{% macro Parameters(params=[]) %}
{% if params != [] %}
    parameters:
{% for p in params %}
      - $ref: '#/components/parameters/{{ p }}'
{% endfor %}
{% endif %}
{% endmacro %}

{% macro ResponseOk(desc) %}
        '200':
          description: {{ desc }}.
{% endmacro %}

{% macro GetResource(schema, desc) %}
        '200':
          description: {{ desc }}.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/{{ schema }}'
{% endmacro %}

{% macro Payload(schema) %}
      requestBody:
        description: {{ schema }} payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/{{ schema }}'
        required: true
{% endmacro %}

{% macro GetOneResource(schema, desc) %}
{{ GetResource(schema, 'Returns the ' + desc + ' object') }}
{% endmacro %}

{% macro GetAllResource(desc) %}
{{ GetResource('ObjectIds', 'Returns an array of ' + desc + ' IDs') }}
{% endmacro %}

{% macro GetAll(opId, desc, tags) %}
    get:
{{ Tags(tags) }}
      description: Returns the IDs of {{ desc }} objects.
      operationId: {{ opId }}
      responses:
{{ GetAllResource(desc) }}
{{ ErrorsGetAll() }}
{% endmacro %}

{% macro Read(opId, schema, desc, tags) %}
    get:
{{ Tags(tags) }}
      description: Returns a {{ desc }}.
      operationId: {{ opId }}
      responses:
{{ GetOneResource(schema, desc) }}
{{ ErrorsGetOne() }}
{% endmacro %}

{% macro Update(opId, schema, desc, tags) %}
    put:
{{ Tags(tags) }}
      description: Updates a {{ desc }} configuration.
      operationId: {{ opId }}
{{ Payload(schema) }}
      responses:
{{ GetOneResource(schema, desc) }}
{{ ErrorsUpdate() }}
{% endmacro %}

{% macro Delete(opId, desc, tags) %}
    delete:
{{ Tags(tags) }}
      description: Deletes an existing {{ desc }}.
      operationId: {{ opId }}
      responses:
{{ ResponseOk('The ' + desc + ' has been successfully removed') }}
{{ ErrorsDelete() }}
{% endmacro %}

{% macro List(obj, tags, params=[]) %}
{{ Parameters(params) }}
{{ GetAll('List' + obj.schema + 's', obj.desc, tags) }}
{% endmacro %}

{% macro RUD(obj, tags, params=[]) %}
{{ Parameters(params) }}
{{ Read('Read' + obj.schema, obj.schema, obj.desc, tags) }}
{{ Update('Update' + obj.schema, obj.schema, obj.desc, tags) }}
{{ Delete('Delete' + obj.schema, obj.desc, tags) }}
{% endmacro %}
